<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow">
	<meta name="google-site-verification" content="verification_token"><!-- Google Search Console -->
	<meta name="yandex-verification" content="verification_token"><!-- Yandex Webmasters -->
	<meta name="msvalidate.01" content="verification_token"><!-- Bing Webmaster Center -->
	<meta name="p:domain_verify" content="code_from_pinterest"><!-- Pinterest Console-->
	<meta name="norton-safeweb-site-verification" content="norton_code"><!-- Norton Safe Web -->
	<meta name="rating" content="General">
	<meta property="fb:app_id" content="123456789"><!-- facebook metadata -->
	<meta property="og:url" content="{{ page.fb-url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ page.fb-title }}">
	<meta property="og:image" content="{{ page.fb-img }}">
	<meta property="og:description" content="{{ page.fb-desc }}">
	<meta property="og:site_name" content="Tequila Trails">
	<meta property="og:locale" content="en_US">
	<meta name="geo.region" content="US-MI" /><!-- geotags -->
	<meta name="geo.placename" content="Detroit" />
	<meta name="geo.position" content="42.4239520;-83.1139540" />
	<meta name="ICBM" content="42.4239520, -83.1139540" />
	<meta name="twitter:card" content="summary_large_image"><!-- twitter metadata -->
	<meta name="twitter:site" content="@site_account"><!--@username of website. Either twitter:site or twitter:site:id is required.-->
	<meta name="twitter:url" content="{{ page.twit-url }}">
	<meta name="twitter:title" content="{{ page.twit-title }}">
	<meta name="twitter:description" content="{{ page.twit-desc }}">
	<meta name="twitter:image" content="{{ page.twit-img }}">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
	<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/webfont.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>

	{% feed_meta %}
</head>
