a
	color: $dkpurple
a:hover
	color: $medpurple

.header-content
	display: inline-block
	height: 50px
	position: relative
	top: 0
	width: 100%
	color: white
	font-family: 'Vollkorn'
	font-style: italic

.site-title
	display: inline-block
	font-size: 1.4rem
	text-shadow: 1px 1px 15px

.site-logo
	display: inline-block
.site-logo:hover
	text-decoration: none

.home-link
	text-decoration: none

.post-heading-link
	color: black
.post-heading-link:hover
	color: black

ul
	list-style-type: none

li
	list-style-type: none

.post-time
	padding: 0

.entry-content
	margin-bottom: 100px

.entry
	border: 1px dotted black
	margin-bottom: 20px
	background-color: white
	box-shadow: 5px 5px 8px #222

article.entry
	padding: 30px

.site-nav
	float: right
	display: inline-block
	a
		color: white
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
	a:hover
		color: white
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
	ul
		display: inline-block
		text-align: right
		padding-right: 10px
		padding-top: 10px
		li
			padding: 0
			margin: 0
			p
				margin: 0

.content-wrap
	padding: 30px

.post-wrap, .info-wrap
	padding: 30px
	margin-top: 20px
	background-color: white
	box-shadow: 10px 10px 15px #222
	margin-bottom: 50px

.embed-container
	position: relative
	padding-bottom: 56.25%
	height: 0
	overflow: hidden
	max-width: 100% 

.embed-container iframe, .embed-container object, .embed-container embed
	position: absolute 
	top: 0 
	left: 0
	width: 100% 
	height: 100%

body
	background-color: $purple

.prev
	float: left

.next
	float: right

.PageNavigation
	height: 50px
	position: relative